<!-- Mini Cart Start -->
<div class="baskettop">
  <div class="wrapper-top-cart">
    <a href="javascript:void(0)" id="ToggleDown" class="icon-cart-arrow">
      <div class="detail cartdt text-center">
        <ul class="list-unstyled list-inline"> 
        <span class="svgbg">{% include 'icon-hcart' %}</span>
        <span id="cartCount">{{ cart.item_count }}</span>
        </ul> 
      </div>
    </a> 
    <div id="slidedown-cart" style="display:none">
      <!--  <h3>{{ 'cart.general.mini_cart_title' | t }}</h3>-->
      <div class="no-items">
        <p>{{ 'cart.general.empty' | t }}</p>
        <p class="text-continue"><a class="btn" href="/">{{ 'cart.general.continue_shopping' | t }}</a></p>
      </div>
      <div class="has-items">
        <ul class="mini-products-list">  
          {% for item in cart.items %}
          <li class="item" id="cart-item-{{item.id}}">
            <a href="{{item.url}}" title="{{item.title}}" class="product-image">
              <img src="{{ item.image | product_img_url: 'small' }}" alt="{{item.title}}"></a>
            <div class="product-details">
              <p class="product-name">
                <a href="{{item.url}}">{{ item.product.title }}
                
              </a></p>
              <p>{% if item.product.variants.size != 0 %}
                {% unless item.variant.title contains 'Default' %}
                {{ item.variant.title }}
                {% endunless %}
                {% endif %}
                </p>
              <div class="cart-collateral"><span class="price">{{item.price | money}}</span> x {{item.quantity}}</div>
            </div>
            <a href="javascript:void(0)" title="Remove This Item" class="btn-remove"><span class="icon-close"></span></a>
          </li>
          {% endfor %}
          </ul>

          <div class="summary">                
          <p class="total">
            <span>{{ 'cart.general.cart_total' | t }}</span>
            <span class="price pull-right">{{cart.total_price | money}}</span> 
          </p>
        </div>

        
        
        <div class="actions">
          <button class="btn text-cart" onclick="window.location='/cart'"><i class="fa fa-shopping-basket"></i>{{ 'cart.general.view_cart' | t }}</button>
          <button class="btn" onclick="window.location='/checkout'"><i class="fa fa-check"></i>{{ 'cart.general.checkout' | t }}</button>
        </div>
      </div>
    </div>
  </div>
</div> <!-- End Top Header --> 