<ul class="inline-list social-icons">
  {% if settings.social_twitter_link != blank %}
    <li>
      <a class="icon-fallback-text twitt hexagon" target="blank" href="{{ settings.social_twitter_link }}" title="{{ 'layout.footer.twitter' | t: name: shop.name, platform: 'Twitter' }}">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
  {% endif %}
  {% if settings.social_facebook_link != blank %}
    <li>
      <a class="icon-fallback-text fb hexagon" target="blank" href="{{ settings.social_facebook_link }}" title="{{ 'layout.footer.facebook' | t: name: shop.name, platform: 'Facebook' }}">
        <i class="fa fa-facebook"></i>
      </a>
    </li>
  {% endif %}
  {% if settings.social_pinterest_link != blank %}
    <li>
      <a class="icon-fallback-text pin hexagon" target="blank" href="{{ settings.social_pinterest_link }}" title="{{ 'layout.footer.pinterest' | t: name: shop.name, platform: 'Pinterest' }}">
        <i class="fa fa-pinterest"></i>
      </a>
    </li>
  {% endif %}
  {% if settings.social_instagram_link != blank %}
    <li>
      <a class="icon-fallback-text ins" target="blank" href="{{ settings.social_instagram_link }}" title="{{ 'layout.footer.instagram' | t: name: shop.name, platform: 'Instagram' }}">
        <i class="fa fa-instagram"></i>
      </a>
    </li>
  {% endif %}
  {% if settings.social_tumblr_link != blank %}
    <li>
      <a class="icon-fallback-text tumblr" target="blank" href="{{ settings.social_tumblr_link }}" title="{{ 'layout.footer.tumblr' | t: name: shop.name, platform: 'Tumblr' }}">
        <i class="fa fa-tumblr" aria-hidden="true"></i>
      </a>
    </li>
  {% endif %}
  {% if settings.social_youtube_link != blank %}
    <li>
      <a class="icon-fallback-text youtube" target="blank" href="{{ settings.social_youtube_link }}" title="{{ 'layout.footer.youtube' | t: name: shop.name, platform: 'YouTube' }}">
        <i class="fa fa-youtube-play" aria-hidden="true"></i>
      </a>
    </li>
  {% endif %}
  {% if settings.social_vimeo_link != blank %}
    <li>
      <a class="icon-fallback-text vimeo" target="blank" href="{{ settings.social_vimeo_link }}" title="{{ 'layout.footer.vimeo' | t: name: shop.name, platform: 'Vimeo' }}">
        <i class="fa fa-vimeo" aria-hidden="true"></i>
      </a>
    </li>
  {% endif %}
  
  {% if settings.social_rss_link != blank %}
    <li>
      <a class="icon-fallback-text rss" target="blank" href="{{ settings.social_rss_link }}" title="{{ 'layout.footer.RSS' | t: name: shop.name, platform: 'RSS' }}">
        <i class="fa fa-rss" aria-hidden="true"></i>
      </a>
    </li>
  {% endif %}
</ul>
