<div data-section-id="{{ section.id }}"  data-section-type="Sidebar-category">  
  {%- assign sidebar_linklist = section.settings.linkedlist  -%}
  {% if section.settings.enable_sidecategory %} 
  <div class="widget_product_categories">
    {% if section.settings.linkedlist_title != blank %}
    <h1 class="leftheading"><span>{{ section.settings.linkedlist_title }}</span><button type="button" class="toggle collapsed pull-right hidden-sm hidden-md hidden-lg" data-toggle="collapse" data-target="#xscat"></button></h1>  
    {% endif %}
    <div class="collapse footer-collapse" id="xscat">
    {% if linklists[sidebar_linklist].links.size > 0 %}
    <ul class="product-categories list-unstyled">
      {% for link in linklists[sidebar_linklist].links %}
      {% assign child_list_handle = link.title | split: '[' | first | handleize %}            
      {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
      <li class="cat-item cat-parent first">
        <i></i>
        <a href="{{ link.url }}" class="dt-sc-toggle {% if link.active %}active{% endif %}">{{ link.title   | split: '[' | first | escape }} </a> 
        {% assign inner_link = link.title | split: '[' | first | handleize %}
        <ul class="children dt-sc-toggle-content">
          {% for child_link in linklists[inner_link].links %}
          <li><a href="{{ child_link.url }}">{{ child_link.title  | split: '[' | first | escape }} </a></li>
          {% endfor %}
        </ul>
        <span class="dt-menu-expand">+</span>              
      </li>
      {% else %}
      <li class="cat-item cat-parent">
        <i></i><a href="{{ link.url }}">{{ link.title | split: '[' | first | escape }}  </a> 
      </li>
      {% endif %}
      {% endfor %}
    </ul>
    {% endif  %}
  </div>
  </div>
  {% endif %}
</div>


{% schema %}
{
"name": "Collection",   
"settings": [
  {
  "type": "checkbox",
  "id": "enable_sidecategory",
  "label": "Enable category",
  "default":false
  },
  {
  "type": "link_list",
  "id": "linkedlist",
  "label": "Linklist"
  },
  {
  "type": "text",
  "id": "linkedlist_title",
  "label": "Heading"
  }     
  ]

}
{% endschema %}


{% javascript %}
$(document).ready(function(){
$(".dt-menu-expand").click(function(event){
event.preventDefault();
if( $(this).hasClass("dt-mean-clicked") ){
$(this).text("+");
if( $(this).prev('ul').length ) {
$(this).prev('ul').slideUp(400);
} else {
$(this).prev('.megamenu-child-container').find('ul:first').slideUp(600);
}
} else {
$(this).text("-");
if( $(this).prev('ul').length ) {
$(this).prev('ul').slideDown(400);
} else{
$(this).prev('.megamenu-child-container').find('ul:first').slideDown(2000);
}
}

$(this).toggleClass("dt-mean-clicked");
return false;
});

});

{% endjavascript %}
