  <div class="collection-products container">
    <div class="row">
    {% if settings.collection_sidebar_use == "left_sidebar" %}
    <div class="col-md-3 col-sm-4 col-xs-12 leftcol">
      {% if template contains 'collection' %}
        {% include 'collection-sidebar' %}
      {% endif %}
    </div>
      <div class="collection-list col-md-9 col-sm-8 col-xs-12 rightcol">
        <div class="grid-uniform grid-link__container col-main">  
          {% paginate collection.products by settings.collection_results_per_page %}   

          {% if shop.products_count == 0 %}
          <div class="grid__item">
            <p><em>{{ 'home_page.onboarding.no_products_html' | t }}</em></p>
          </div>
          {% else %}
          {% include 'tool-grid' %}
          {% endif %}
          <ul class="products-grid-view row prodm">
            {% case settings.collection_grid %}
            {% when '2' %}
            {%- assign grid_item_width = 'col-lg-6 col-md-6 col-sm-6 col-xs-12' -%}
            {%- assign image_size = '540x600' -%}
            {% when '3' %}
            {%- assign grid_item_width = 'col-lg-4 col-md-6 col-sm-6 col-xs-12' -%}
            {%- assign image_size = '345x550' -%}
            {% when '4' %}
            {%- assign grid_item_width = 'col-lg-3 col-md-4 col-sm-6 col-xs-12' -%}
            {%- assign image_size = '250x' -%}
            {% when '5' %}
            {%- assign grid_item_width = 'col-lg-3 col-md-4 col-sm-6 col-xs-12 collistw' -%}
            {%- assign image_size = '250x' -%}
            {% endcase %}
            {% for product in collection.products %}
            {% include 'product-grid-item' %}
            {% else %}
            {% if shop.products_count == 0 %}
            {% unless emptyState %}
            {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
            {% assign emptyState = true %}
            {% endunless %}

              <div class="helper-section">
                <div class="helper-note">
                  <span class="helper-icon"></span>
                  <h3>{{ 'home_page.onboarding.modal_title' | t }}</h3>
                  <p>{{ 'home_page.onboarding.no_products_collection' | t }}</p>
                  <p><a class="admin-btn-primary" href="/admin/products/new">{{ 'home_page.onboarding.add_product' | t }}</a></p>
                </div>
              </div>
            {% else %}
            <div class="">
              <p><em>{{ 'collections.general.no_matches' | t }}</em></p>
            </div>
            {% endif %}

            {% endfor %}
          </ul>

          {% if paginate.pages > 1 %}
          <div class="text-center padding">
            {% include 'pagination-custom' %}
          </div>
          {% endif %}
          {% endpaginate %}  
        </div>
      </div>
    {% endif %}
  </div>
  </div>