<div class="container">
<div itemscope itemtype="http://schema.org/Product">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
  <div class="singlepro row">

    <div class="col-sm-6 col-lg-5 col-xs-12 sticky">
      {% if product.images.size == 0 %}
      <div class="product-photo-container">
        <img src="{{ '' | product_img_url: 'grande' }}" alt="">
      </div>
      {% else %}
      <div class="product-photo-container">
        {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
        <a href="{{ featured_image | img_url: 'master' }}" >
          <img id="product-featured-image" class="center-block" src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" data-zoom-image="{{ featured_image.src | img_url: 'master' }}"/>
        </a>

      </div>
      {% if product.images.size > 0 %}		
      <div class="more-view-wrapper-owlslider">
         <ul id="ProductThumbs" class="product-photo-thumbs owl-carousel owl-theme thumbs">
          {% for image in product.images %}
          <li class="col-xs-12">
            <a href="javascript:void(0)" data-image="{{ image.src | product_img_url: 'large' }}" data-zoom-image="{{ image.src | product_img_url: '1024x1150' }}">
              <img src="{{ image.src | product_img_url: 'compact' }}" alt="{{ image.alt | escape }}">
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      {% endif %}
    </div>

    <div class="propage col-sm-6 col-lg-7 col-xs-12">
      <h2 itemprop="name" class="proname">{{ product.title }}</h2><hr>

       {% if settings.short_desc %}
        <div class="page-des" itemprop="description">
          {{ product.description }} 
        </div><hr>
        {% endif %}

      {% comment %}{% if collection %}
      {% if collection.previous_product or collection.next_product %}
      <p class="product-arrows">
        {% if collection.previous_product %}
        {% capture prev_url %}{{ collection.previous_product}}#content{% endcapture %}
        <span class="left">
          <a href="{{ prev_url }}"> <i class="zmdi zmdi-chevron-left"></i></a>
        </span>
        {% endif %}

        {% if collection.next_product %}
        {% capture next_url %}{{ collection.next_product}}#content{% endcapture %}
        <span class="right">
          <a href="{{ next_url }}"> <i class="zmdi zmdi-chevron-right"></i></a>
        </span>
        {% endif %}
      </p>
      {% endif %}
      {% endif %}{% endcomment %}


      <div class="shopify-product-reviews-badge" data-id="{{ product.id }}"></div><hr>

       {% if settings.count_down_enable and settings.count_down_collections %}
      {% assign dealTime = settings.home_productdeal_time | split: ' ' | join: ' ' | split: ' ' %}
      {% include 'deal-snippet' %}
      {% endif %}


      <div class="product_single_price">
        <label>{{ 'products.product.product_price' | t }}</label>
        <div class="product_price">
          {% capture price %}<span class="Bold-theme-hook-DO-NOT-DELETE bold_product_price" data-override-value-set="1" data-override-value="{{ product.price }}" style="display:none !important;"></span>{{ product.price | money }}{% endcapture %}
          <span class="grid-link__org_price" id="ProductPrice">
            {% if product.price_varies %}{{ price }}{% else %}{{ price }}{% endif %}
          </span>
          {% if product.compare_at_price > product.price %}
          <span id="ComparePrice" class="sale_price"><span class="Bold-theme-hook-DO-NOT-DELETE bold_product_compare_price" data-override-value-set="1" data-override-value="{{ product.compare_at_price }}" style="display:none !important;"></span>{{ product.compare_at_price | money }}</span>
          {% endif %}
        </div>
      </div>
        
        
      <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        {% assign variant = product.selected_or_first_available_variant %}
        <meta itemprop="priceCurrency" content="{{ shop.currency }}">
        <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
        
       
        <div class="product-infor">
          {% if settings.display_availability or settings.display_product_type or settings.display_vendor %}
          {% if settings.display_vendor %}
          <p>
            <label>{{ 'products.product.product_vendor' | t }}</label>
            <span>{{ product.vendor }}</span>
          </p>
          {% endif %}
          {% if settings.display_product_type %}
          <p>
            <label>{{ 'products.product.product_type' | t }} </label>  
            <span>{{ product.type }}</span>
          </p>
          {% endif %}
          {% if settings.display_availability %}
          <p class="product-inventory">
            <label>{{ 'products.product.availability' | t  }}  </label>              
            <span>
              {% if product.selected_or_first_available_variant.inventory_management %}
              {% assign first_inventory = product.selected_or_first_available_variant.inventory_quantity %}
              {% if first_inventory > 0 %}
              {{first_inventory}} {{ 'products.product.in_stock' | t }}
              {% else %}
              {{ 'products.product.out_of_stock' | t }}
              {% endif %}
              {% else %}
              {{ 'products.product.many_in_stock' | t }}
              {% endif %}
            </span>
          </p>
          {% endif %}        
        {% endif %}
          </div>

        <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
          <div class="selector-wrapper-secton">
            {% if settings.enable_color_swatch %}           
            {% for option in product.options %}
            {% include 'swatch' with option %}
            {% endfor %}
            {% endif %}              
            <select name="id" id="productSelect" class="singlepro__variants">
              {% for variant in product.variants %}
              <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }}</option>
              {% endfor %}
            </select>
            </div>          
          <div class="singlepro__quantity {% unless settings.product_quantity_enable %} hide {% endunless %}">
            <div class="quantity-box-section">
              <label>{{ 'products.product.quantity' | t }}</label>
              <div class="quantity-box">
                <select name="quantity" id="quantity">
                  {% for i in (1..10) %}
                  <option value="{{i}}">{{i}}</option>
                  {% endfor %}
                </select>              
              </div>
            </div>
          </div>
          
            {% if settings.enable_add_cart %}
            <button type="submit" name="add" id="AddToCart" class="btn pull-left procart">
              <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
            </button>
            {% endif %}         
        </form>
      </div>
      {% if settings.enable_wishlist %}
      {% include 'wishlist-product' %}
      {% endif %}
      
   
    {% if settings.social_sharing_products %} <hr>    
      <div class="share_this_btn">
   {% include 'addthis' %}
      {% endif %}
      </div>
       </div>
  </div>
  <div class="product-tab row">
    <ul class="protabc">
      {% if settings.product_tab1 %}<li><a href="#"> {{ settings.product_tab1_heading }} </a></li>{% endif %} 
      {% if settings.product_tab2 %}<li><a href="#"> {{ settings.product_tab2_heading }}  </a></li>{% endif %}
      {% if settings.product_tab3 %}<li><a href="#"> {{ settings.product_tab3_heading }}  </a></li>{% endif %}
    </ul>
    {% if settings.product_tab1 %}
    <div class="protabc-content" id="desc_pro">
      <p>{{ product.description }}</p>
    </div>
    {% endif %}
    {% if settings.product_tab2 %}
    <div class="protabc-content">
      <div class="commentlist">
        <div class="comment-text">
          <div class="rating-review">
            <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% if settings.product_tab3 %}
    <div class="protabc-content">
      <p>{{ pages[settings.product_tab3_page].content }}</p>
    </div>
    {% endif %}               
  </div>

 
</div>
{{ 'option_selection.js' | shopify_asset_url | script_tag }}
</div>
 {% if settings.product_related_enable %}
        
  {% include 'related-products' %}
  {% endif %}

<script>
  var selectCallback = function(variant, selector) {
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector,
      translations: {
      add_to_cart : "{{ 'products.product.add_to_cart' | t }}",
      sold_out : "{{ 'products.product.sold_out' | t }}",
      unavailable : "{{ 'products.product.unavailable' | t }}"
    }
  });
    
          if (window.BOLD && BOLD.common && BOLD.common.eventEmitter &&
          typeof BOLD.common.eventEmitter.emit === 'function' && BOLDCURRENCY.currentCurrency ){
        BOLD.common.eventEmitter.emit('BOLD_CURRENCY_double_check');
      }
  };

  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });


    {% if settings.enable_linked_option %}
    {% if product.available and product.options.size > 1 %}
    Shopify.linkOptionSelectors({{ product | json }});
    {% endif %}
    {% endif %}

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
    $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
	{% endif %}
     // Hide selectors if we only have 1 variant and its title contains 'Default'.
     {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
     $('.selector-wrapper').hide();
     $('.selector-wrapper-secton').hide();
    {% endif %}
    
    // Auto-select first available variant on page load. Otherwise the product looks sold out.
    {% assign found_one_in_stock = false %}
    {% for variant in product.variants %}
    {% if variant.available and found_one_in_stock == false %}
    {% assign found_one_in_stock = true %}
    {% for option in product.options %}
    $('.single-option-selector:eq({{ forloop.index0 }})').val({{ variant.options[forloop.index0] | json }}).trigger('change');
    {% endfor %}
    {% endif %}
    {% endfor %}
    
    
    $('.singlepro .single-option-selector').wrap('<div class="selector-arrow">');
    
    
                         
  });  
    
    
</script>